<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nicho">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/here"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WriteRead"
            android:label="@string/title_activity_write_read"></activity>
        <activity android:name=".ForegroundService" />
        <activity android:name=".Player" />
        <activity android:name=".LinearActivity" />
        <activity android:name=".Recycler" />

        <receiver
            android:name=".Mine"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Lists" />
        <activity
            android:name=".Active2"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Active1" />
        <activity android:name=".DisplayMessageActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Popup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".This_Service" />
    </application>

</manifest>